@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Maven+Pro:wght@400;500&display=swap');

html {
    font-size: 62.5%;
}

body {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: 2.4rem;
    font-weight: 400;
}